In [439]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.impute import SimpleImputer, IterativeImputer, KNNImputer

In [440]:
import pandas
df = pandas.read_csv("dsc_fc_summed_spectra_2016_v01.csv",
delimiter = ',', parse_dates=[0], 
infer_datetime_format=True, na_values='0', header = None)

In [442]:
# Rename columns
shape = df.shape[1]
df.columns = ['datetime', 'bx', 'by', 'bz']+['row'+str(i-3) for i in range(4, shape)]
df.dtypes

# Transform the datetime column 
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute
df['second'] = df['datetime'].dt.second
del df['datetime']

# Reorder the columns
df = df[['year', 'month', 'day', 'hour', 'minute', 'second'] + ['bx', 'by', 'bz'] + ['row'+str(i-3) for i in range(4, shape)]]

df.head()

,year,month,day,hour,minute,second,bx,by,bz,row1,...,row41,row42,row43,row44,row45,row46,row47,row48,row49,row50
0,2016,1,1,0,0,0,6.83609,-3.37934,-12.9205,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,0,1,0,6.76732,-3.30194,-12.9967,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,0,2,0,6.39107,-2.61173,-13.3271,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,0,3,0,6.44897,-2.61525,-13.3299,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,0,4,0,6.58758,-2.73082,-13.2361,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [443]:
# Group by 'hour' 
def count_rows(x):
    return len(x)

agg_funcs = {
        'minute': count_rows,  
        'second': 'sum'  
    }
agg_funcs.update({col: 'mean' for col in df.columns[6:]})

df = df.groupby(['year', 'month', 'day', 'hour']).agg(agg_funcs).reset_index()
del df['second']

df.head()

,year,month,day,hour,minute,bx,by,bz,row1,row2,...,row41,row42,row43,row44,row45,row46,row47,row48,row49,row50
0,2016,1,1,0,60,5.733193,-2.296756,-13.282797,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,1,60,4.668200,-1.917471,-12.976817,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,2,60,2.898088,0.470586,-13.237948,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,3,60,3.107440,0.077172,-12.819543,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,4,60,3.387239,-2.777962,-11.102431,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [444]:
# # SimpleImputer
# simple_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# imp_s = simple_imputer.fit_transform(df[df.columns[1:]])
# df_imputed_simple = pd.concat([df[df.columns[:1]], pd.DataFrame(imp_s, columns=df.columns[1:])], axis=1)
# df_imputed_simple.head()

# # simple_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# # df_imputed_simple = pd.DataFrame(simple_imputer.fit_transform(df), columns=df.columns)
# # df_imputed_simple.head()

In [445]:
# # IterativeImputer
# iterative_imputer = IterativeImputer(max_iter=30, random_state=0)
# imp_iter = iterative_imputer.fit_transform(df[df.columns[1:]])
# df_imputed_iter = pd.concat([df[df.columns[:1]], pd.DataFrame(imp_iter, columns=df.columns[1:])], axis=1)
# df_imputed_iter.head()

In [446]:
# # KNNImputer
# knn_imputer = KNNImputer(n_neighbors=5)
# imp_knn = knn_imputer.fit_transform(df[df.columns[1:]])
# df_imputed_knn = pd.concat([df[df.columns[:1]], pd.DataFrame(imp_knn, columns=df.columns[1:])], axis=1)
# df_imputed_knn.head()